%html
  %head
    %title Yet Another Nutrient Calculator
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    %link(rel="stylesheet" href="http://cdn.petalphile.com/javascript/jquery.mobile-1.0a1.min.css")
    %script{:type => "text/javascript", :src=>"http://cdn.petalphile.com/javascript/jquery-1.5.2.min.js"}
    %script{:type => "text/javascript", :src=>"http://cdn.petalphile.com/javascript/jquery.mobile-1.0a1.min.js"}
  %body{:align => "center"}
    .yield
    %center
      %div{"data-role" => :page, "data-theme" => :d}
        %div{"data-role" => :header, :class => "ui-bar"}
          %h1 wet's calc
        %div{"data-role" => :content}
          =yield
        %div{"data-role" => :footer, :class => "ui-bar"}
          %a(href='http://calc.petalphile.com/' data-ajax="false" rel="external")non-mobile calc
          %a(href='http://petalphile.com')petalphile.com
