%html
  %head
    %title Yet Another Nutrient Calculator
    %meta{'name'=>"keywords", 'http-equiv'=>"keywords", 'content'=>"planted, aquarium, fertilizer, ferts, calculator, KNO3, K2HPO4, KH2PO4, K3PO4, KCl, K2SO4, CaCl2.2H2O, CaSO4.1/2H2O, CaSO4.2H2O, CaMg(CO3)2, Ca(NO3)2.4H2O, 5Ca(NO3)2.NH4NO3.10H2O, MgSO4.7H2O, PlantedTanksUK Trace, Plantex CSM+B, Miller's MicroPlex, Dutch Nutrient Formula, Rexolin APN, Rexolin BRA, Fe Gluconate, DTPA Fe (11%), DTPA Fe (10%), EDTA Fe, EDDHA Fe (6%), MnSO4.H2O, CO2, fish, plants, diy, horticulture, aquaculture, aquascaping, estimative index, pps-pro, perpetual preservation system, pmdd, ei, copper, cu, toxic, toxicity, shrimp"}
    %meta(name="description" http-equiv="description" content="Calculators for all aspects of planted aquariums, including DIY fertilizers, dosing for every major method, CO2, and pictures.")
  %body
    #header 
    #yield 
    =yield
    #footer
      %p 
      %a(href='/')Start over
      %br
      %a(href="/mobile")Mobile site
      %br
      %a(href='http://petalphile.com') Back to petalphile.com
