%html
  %head
    %title Yet Another Nutrient Calculator
  %body
    #header 
    #yield 
    =yield
    #footer
      %p 
      %a(href='/')Start over
      %br
      %a(href='http://petalphile.com') Back to petalphile.com
